# ignore ALL .log files
*.log
*__pycache__*
*.pyc

# ignore ALL files in ANY directory named temp
temp/ 

# Ignore tensor files due to file size
images/knowledgeBase_icd10_diagnosis/embedding_model/encoder/*.safetensors
images/knowledgeBase_icd10_diagnosis/llm_lora_adapter/*.safetensors
images/embedding_model/encoder/*.safetensors

# Ignore best_model.pt
images/knowledgeBase_icd10_diagnosis/embedding_model/*.pt